<div class="grid p-fluid">
	<div class="col-12 md:col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <span style="font-weight: bold; text-transform: capitalize;">{{saleIdentifier}}</span>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Cancelar Venda" icon="pi pi-trash" class="p-button-danger" (click)="onDeleteSelectedSales(sale.id)"></button>
                </ng-template>
            </p-toolbar>
        </div>

        <br/>

		<div class="card">
			<h6>Produto [ Para pesquisar o produto, digite o código de barras e tecle enter | efetuar venda informe a quantidade e tecle enter ]</h6>
			<div class="grid formgrid">
				<div class="col-12 mb-2 lg:col-2 lg:mb-0">
					<span class="p-input-icon-left">
						<i class="pi pi-bars"></i>
                        <input type="text" pInputText id="barCode" (keydown)="onKeyDown($event)" placeholder="Código de barras"/>
					</span>
				</div>

				<div class="col-12 mb-2 lg:col-6 lg:mb-0">
					<span class="p-input-icon-left">
						<i class="pi pi-shopping-bag"></i>
                        <input type="text" pInputText id="description" [(ngModel)]="product.description" disabled="true"/>
					</span>
				</div>

				<div class="col-12 mb-2 lg:col-2 lg:mb-0">
					<span class="p-input-icon-left">
						<!-- <i class="pi pi-money-bill"></i> -->
                        <p-inputNumber inputId="price" [(ngModel)]="product.price" class="input-number-short"
                            [min]="0" [max]="50000" [showButtons]="false" [step]="1" mode="decimal" [minFractionDigits]="2"
                            [maxFractionDigits]="2" locale="pt-BR" [disabled]="true">
                        </p-inputNumber>
					</span>
				</div>

				<div class="col-12 mb-2 lg:col-2 lg:mb-0">
					<span class="p-input-icon-left">
						<!-- <i class="pi pi-money-bill"></i> -->
                        <p-inputNumber inputId="quantity" [(ngModel)]="saleQuantity" class="input-number-short" placeholder="Qtd"
                            [min]="0" [max]="50000" [showButtons]="false" [step]="1" mode="decimal" [minFractionDigits]="0"
                            [maxFractionDigits]="0" locale="pt-BR" (keydown)="onKeyDownSaleSave($event)">
                        </p-inputNumber>
					</span>
				</div>
			</div>

		</div>

        <br/>

		<div class="card">

                <p-table #dt [value]="saleItens" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [rows]="10" [paginator]="false" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo de {first} até {last} de {totalRecords} registros cadastrados"
                [(selection)]="selectedSaleItens" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <!-- <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Itens</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="product.description">Produto <p-sortIcon field="product.description"></p-sortIcon></th>
                        <th pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantidade <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-saleItem>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="saleItem"></p-tableCheckbox>
                        </td>
                        <td style="width:80%; min-width:10rem;">
                            <span class="p-column-title">Código de barras</span>
                            {{saleItem.product.description}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Preço</span>
                            {{saleItem.price | currency}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Quantidade</span>
                            {{saleItem.quantity }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Total</span>
                            {{saleItem.total | currency}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-buttongrid-link-delete mr-2" (click)="onDeleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

		</div>


        <!-- MODAL PRODUCT : CRUD -->

        <p-dialog [(visible)]="deleteProductDialog" header="Confirmação" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Tem certeza que deseja remover <b>{{product.description}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="onConfirmDelete()"></button>
            </ng-template>
        </p-dialog>


        <!-- MODAL PRODUCT FIM : CRUD -->

        <!-- CAMPOS OBRIGATORIOS -->
        <p-dialog [(visible)]="requiredFields" header="Atenção" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Todos os campos obrigatórios (destacados em negrito) devem ser preenchidos!</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Ok" (click)="onConfirmRequiredFields()"></button>
            </ng-template>
        </p-dialog>


	</div>
</div>
