<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table #dt [value]="sales" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['saleDate','saleStatus','totalValue', 'paymentFormat', 'user.name']"
                [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo de {first} até {last} de {totalRecords} registros cadastrados"
                [(selection)]="selectedSales" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Histórico de Vendas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="saleDate">Data <p-sortIcon field="saleDate"></p-sortIcon></th>
                        <th pSortableColumn="saleStatus">Status <p-sortIcon field="saleStatus"></p-sortIcon></th>
                        <th pSortableColumn="paymentFormat">Forma de pagamento <p-sortIcon field="paymentFormat"></p-sortIcon></th>
                        <th pSortableColumn="totalValue">Total <p-sortIcon field="totalValue"></p-sortIcon></th>
                        <th pSortableColumn="user.name">Usuário <p-sortIcon field="user.name"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sale>
                    <tr>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Data</span>
                            {{sale.saleDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            {{sale.saleStatus}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Forma de pagamento</span>
                            {{sale.paymentFormat}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Total</span>
                            {{sale.totalValue | currency }}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Usuário</span>
                            {{sale.user.name}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-buttongrid-link-edit mr-2" (click)="onEditSale(sale)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- MODAL PRODUCT : CRUD -->

        <p-dialog [(visible)]="saleDialog" [style]="{width: '900px'}" header="Produto" [modal]="true" class="p-fluid">
            <!-- <ng-template pTemplate="content">

                <div class="formgrid grid">
                    <div class="field col-3">
                        <label for="name">Código de barras</label>
                        <input type="text" pInputText id="name" [(ngModel)]="sale.saleDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sale.saleDate}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !sale.saleDate">Código de barras é obrigatório.</small>
                    </div>
                    <div class="field col-7">
                        <label for="saleStatus">Descrição</label>
                        <input type="text" [maxlength]="150" pInputText id="saleStatus" [(ngModel)]="sale.saleStatus" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !sale.saleStatus}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !sale.saleStatus">Unidade é obrigatório.</small>
                    </div>
                    <div class="field col-2">
                        <label for="totalValue">Preço</label>
                        <p-inputNumber inputId="totalValue" [(ngModel)]="sale.totalValue" [ngClass]="{'ng-invalid ng-dirty' : submitted && !sale.totalValue}"
                        [min]="0" [max]="50000" [showButtons]="false" [step]="1" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" locale="pt-BR"></p-inputNumber>

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !sale.totalValue">Preço é obrigatório.</small>
                    </div>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="onHideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="onSaveSale()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSaleDialog" header="Confirmação" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="sale">Tem certeza que deseja remover <b>{{sale.saleStatus}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteSaleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="onConfirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSalesDialog" header="Confirmação" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que deseja remover os produtos selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteSalesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="onConfirmDeleteSelected()"></button>
            </ng-template> -->
        </p-dialog>

        <!-- MODAL PRODUCT FIM : CRUD -->

        <!-- CAMPOS OBRIGATORIOS -->
        <p-dialog [(visible)]="requiredFields" header="Atenção" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Todos os campos obrigatórios (destacados em negrito) devem ser preenchidos!</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Ok" (click)="onConfirmRequiredFields()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
